.sidebar {
  overflow: hidden;
  height: 100%;
  transition: 0.3s;
}

.sidebar_open {
  width: 200px;
}

.sidebar_closed {
  width: 80px;
}

.side_title {
  height: 80px;
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_text {
  margin-left: 80px;
  width: 136px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  white-space: nowrap;
}
